draft*
temp*

.venv/
__pycache__/
.ruff_cache/

/sync/
/build/
/luna_pinyin.userdb/
/installation.yaml
/user.yaml
/default.custom.yaml

/custom/.*
/lua/en_dict.txt
/tiger_sha1_zh.dict.yaml
/tiger_sha1_en.dict.yaml
/tiger_sha1_py.dict.yaml
/src/wordfreq/en.tsv
/src/wordfreq/zh.tsv
