draft*
temp*

target/
.venv/
__pycache__/
.ruff_cache/

/sync/
/build/
/luna_pinyin.userdb/
/installation.yaml
/user.yaml
/default.custom.yaml

*.dict.yaml
/src/data/wordfreq/en.tsv
/src/data/wordfreq/zh.tsv
